* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #000;
}

.background {
    background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.527)), url('./img/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 15vh;
}

.text, .box {
text-align: center;
}

.text {
    text-align: center;
    font-weight: 500;
}

.text h1 {
    font-size: 70px;
    color: #fff;
}

.text p{
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}

.text p a {
    color: #fff;
    font-weight: 700;
}

.form{
    background: transparent;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 15px;
    align-items: center;
}

input {
    margin: 20px 0;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    width: 250px;
    font-family: 'Raleway', sans-serif;
}

.username,.password {
    border-bottom:1px solid #fff ;
}

.button {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.button:hover {
    background: #fff;
    color: #000;

}

@media (min-width: 768px) {

.box {
    margin-right: 10%;
}

.text { margin-left: 10%;}
.background {
    display: flex;
    justify-content: space-between;
    padding-top: 45vh;}
}