* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #000;
}

.background {
    background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.527)), url('./img/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
}

.text {
    margin-top: 45vh;
    flex: .8;
}

.box{
    margin-top: 33vh;
}

.text {
    margin-left: 10%;
    font-weight: 500;
}

.box {
    margin-left: 25%;
}

.text h1 {
    font-size: 70px;
    color: #fff;
}

.text p{
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}

.text p a {
    color: #fff;
    font-weight: 700;
}

.form{
    background: transparent;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 250px;
    /* margin-right: 25%; */
}

input {
    margin: 20px 0;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.username,.password, .fullname,.email {
    border-bottom:1px solid #fff ;
}

.button {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.button:hover {
    background: #fff;
    color: #000;

}